name: Swift

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:

  Swift-Package:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-26, ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Cache
      uses: actions/cache@v5
      with:
        path: |
          .build
          ~/Library/Developer/Xcode/DerivedData/ModuleCache.noindex
          ~/Library/Caches/org.swift.swiftpm
          ~/Library/org.swift.swiftpm
        key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
        restore-keys: |
          ${{ runner.os }}-spm-

    - name: Package Resolution
      run: swift package resolve

    - name: Build
      run: swift build

    - name: Test
      run: swift test
